#main-content {
    margin: 0 auto;
    text-align: center;
}

#search-results {
    margin: 0 auto;
    text-align: center;
}

#search-results h1 {
    font-size: 36px;
    color: #b34d3d;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

#results-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}

 #button1{
    display: block;
    font-size: 18px;
    color: #b34d3d;
    margin-bottom: 10px;
}

#results-container a:hover {
    text-decoration: underline;
}

#results-container p {
    font-size: 18px;
    color: #666;
}